* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #4682b4;
  color: white;
}

.todoFormConteiner {
  margin-bottom: 20px;
}

.todoFormConteiner form {
  display: flex;
  text-align: center;
  justify-content: center;
}

.btnForm {
  font-size: 1.5rem;
  padding: 5px;
  margin-left: 15px;
  border: 2px solid black;
  border-radius: 5px;
  height: 50px;
  text-align: center;
}

.btnForm:hover {
  background-color: rgb(97, 97, 247);
  color: white;
}

.todoFormConteiner input {
  width: 45%;
  height: 30px;
  font-size: 1.3rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.todo {
  display: flex;

  align-items: center;
  padding: 10px 20px;
  margin: 15px 0;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid #555;
  color: #112d49;
  background-color: #fbfef9;
}

.todoText {
  width: 100%;
  text-align: left;
}

.todoIcon {
  font-size: 1.8rem;
  margin-right: 10px;
  color: rgb(19, 133, 185);
}

.completedTodo {
  background-color: unset;
  border-color: rgb(48, 48, 48);
  color: rgb(61, 61, 61);
}

.todo.completedTodo .todoIcon,
.todo.completedTodo .checkIcon,
.todo.completedTodo .deleteIcon {
  color: gray;
}

.checkIcon,
.deleteIcon {
  cursor: pointer;
  color: lightgrey;
  padding: 0 7px;
  font-size: 1.8rem;
  transition: transform 0.3s;
}

.checkIcon:hover,
.deleteIcon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.checkIcon:hover {
  color: green;
}

.deleteIcon:hover {
  color: red;
}

.todoListConteiner {
  padding: 10px;
  width: 45%;
  text-align: center;
  margin: auto;
}

.btn {
  font-size: 1.3rem;
  padding: 5px;
  margin-left: 15px;
  border: 2px solid black;
  border-radius: 5px;
  height: 35px;
  text-align: center;
}

.btn:hover {
  background-color: rgb(97, 97, 247);
  color: white;
}
.todoActionsConteiner {
  margin: 5px;
}
.header {
  background-color: #3b6e97;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 50px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.btnFormLogOut {
  font-size: 1rem;
  padding: 2px;
  margin: 3px;
  margin-top: 6px;
  border: 2px solid black;
  border-radius: 10px;
  height: 50px;
  background-color: #3b6e97;
  text-align: center;
}

.btnFormLogOut:hover {
  background-color: rgb(179, 47, 11);
  color: white;
}

.AuthFormConteiner input {
  width: 20%;
  height: 30px;
  margin: 10px;

  font-size: 1.3rem;
  padding: 10px 15px;
  border: 1.5px black;
  border-radius: 5px;
}

.AuthFormConteiner {
  margin-bottom: 20px;
}

.AuthFormConteiner form {
  display: flex;
  text-align: center;
  justify-content: center;
}
